[submodule "Practice/snorkel/snorkel-tutorials"]
	path = Practice/snorkel/snorkel-tutorials
	url = https://github.com/snorkel-team/snorkel-tutorials.git
[submodule "Practice/PyTorch/BERT_practice/Practice/PyTorch/BERT_practice/bertviz_repo"]
	path = Practice/PyTorch/BERT_practice/Practice/PyTorch/BERT_practice/bertviz_repo
	url = https://github.com/jessevig/bertviz
[submodule "datasets/entity-recognition-datasets"]
	path = datasets/entity-recognition-datasets
	url = https://github.com/juand-r/entity-recognition-datasets.git
[submodule "API"]
	path = API
	url = git@github.com:EasonC13/labs-cicero-classify-api.git
